[user]
	email = simon.green@live.se
	name = Simon Westlin Green
  signingKey = C40D1D5D3D43A514
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[commit]
	gpgSign = true
[tag]
	gpgSign = true
