[user]
	email = simon@simonwg.com
	name = Simon Westlin Green
	signingKey = 346607848E27D01B
[includeIf "gitdir:~/Programming/work/**"]
	path = ~/Programming/work/.gitconfig
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[commit]
	gpgSign = true
[tag]
	gpgSign = true
